@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth !important;
        width: 100vw;
        height: 100vh;
    }
}

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;

}


body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;

    --background: var(--yellow);
    --accent: var(--black);

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

.white-input:active,
.white-input:focus {
    outline: none;
    color: white;
    font-size: 32px;
}

.white-input {
    color: white !important;
    transition: 0.5s;
}

.white-input-container input {
    color: white !important;
}

.animate__animated.animate__shakeX {
    --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: white;
}

.scroll-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}

.RECsText {
    background: linear-gradient(270deg, #C41E3A 1.96%, #F75D3F 97.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-orange-class {
    border-radius: 24px;
    background: linear-gradient(270deg, #FEA50F 0%, #E01D31 100%);
}

.bg-orange-class-rounded {
    background: linear-gradient(270deg, #FEA50F 0%, #E01D31 100%);
}

.bg-tr04 {
    background: rgba(0, 0, 0, 0.4);
}

.raiting-top-one:first-child {
    background: linear-gradient(90deg, #E12031 0%, #FEA310 98.1%);
    color: white
}

.hoveredMenu:hover,
.activeMenu {
    background: linear-gradient(90deg, #E22132 0%, #FFA411 100%);
    color: white;
}

.coloredText {
    background: linear-gradient(90deg, #E01D31 0.78%, #FEA50F 100.48%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coloredTextTwo {
    background: linear-gradient(270deg, #FEA50F 22.5%, #E01D31 99.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clmp {
    line-clamp: 2;
    -webkit-line-clamp: 2;
}
